<div class="container">
	<div class="card mb-3" style=" margin-top: 1rem; ">
		<div class="row g-0">
		  <div class="col-md-2">
		    <img src="assets/img/air.jpeg" class="img-fluid rounded-start" alt="...">
		  </div>
		  <div class="col-md-10">
		    <div class="card-body">
		      <h5 class="card-title">We are your local and truly independent travel agent, offering a very personalised and bespoke service.</h5><br>
		      <p class="card-text">Whether you are travelling with family or friends, near or far, we embrace your requirements with enthusiasm, professionalism and in a genuine caring manner. <br> Being independent we can offer a extensive range of holidays, flights, cruises and much more at competitive prices.<br> Our depth of knowledge ensures customers receive honest reviews and unbiased suggestions on accommodation in a wide range of destinations.
	
			Holiday time is precious so getting it right for you is always our priority.</p>
		      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		    </div>
		  </div>
		</div>
	      </div>
</div>
