.navbar-brand {
  width: 150px;
  font-size: 24px;
}
.navbar-brand img {
  height: 70px;
  float: left;
  margin-right: 7px;
}
.nav-item {
  font-size: x-large;
}
.btn {
  background-color: #f46f7c;
  color: aliceblue;
}
